<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maru's blog</title>
  </head>
  <body>
      <div class="">

        <h1>Bienvenidx a mi blog</h1>

      </div>
      <div class="">

        <h2>Mis Posts</h2>

        {% for post in posts %}

          <div class="">

              <p>publicado: {{ post.published_date }}</p>
              <h2><a href="">{{ post.title }}</a></h2>
              <p>{{ post.text|linebreaksbr }}</p>

          </div>
        {% endfor %}

      </div>
      <div class="">

        <p>Pagina creada siguiendo el tutorial <a href="https://djangogirls.org">Django Girls</a> </p>

      </div>
  </body>
</html>
